@page "/"
@using Instalogik.Assembly.Ide.Client.Model

<PageTitle>IDE</PageTitle>
@if (!isLoaded)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}
else
{
    @if (!_isRunning)
    {
        <MudDropContainer @ref="@_dropContainer" Class="ma-4" T="Instruction" Items="_items" ItemsSelector="@((item, dropzone) => item.Zone == dropzone)" ItemDropped="ItemUpdated">
            <ChildContent>
                <MudGrid>
                    <MudItem xs="9">
                        <MudCard>
                            <MudCardHeader Style="@($"background:{Colors.LightBlue.Accent3};")">
                                <MudText Typo="Typo.h5" Style="color: white;">@STEPS_ZONE</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                @if (!alertClosed)
                                {
                                    <MudAlert Severity="Severity.Info" Variant="Variant.Filled"
                                              ShowCloseIcon="true" CloseIconClicked="(() => alertClosed = true)">Przeciągnij i upuść instrukcje poniżej.</MudAlert>
                                }
                                <MudDropZone T="Instruction" Identifier="@STEPS_ZONE" AllowReorder Class="card-editor rounded mud-background-gray px-4 py-1" />
                            </MudCardContent>
                        </MudCard>
                    </MudItem>

                    <MudItem xs="3">
                        <MudCard>
                            <MudCardHeader Style="@($"background:{Colors.LightBlue.Accent3};")">
                                <MudText Typo="Typo.h5" Style="color: white;">@LIST_ZONE</MudText>
                            </MudCardHeader>
                            <MudCardContent Style="min-height: 8em;">
                                <MudDropZone T="Instruction" AllowReorder="false" Identifier="@LIST_ZONE" CanDrop="_ => false"
                                             Class="rounded mud-background-gray px-4 py-1 ma-0" />

                                <MudButton Class="mt-16"
                                           Color="Color.Success"
                                           FullWidth Variant="Variant.Filled"
                                           StartIcon="@Icons.Material.Filled.PlayArrow" OnClick="RunProgram">
                                    Uruchom
                                </MudButton>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </ChildContent>
            <ItemRenderer>
                @if (context.Zone == LIST_ZONE)
                {
                    <MudPaper Class="pa-4 my-2">
                        <MudText>@context.Name</MudText>
                    </MudPaper>
                }
                else
                {
                    <MudPaper Class="d-flex align-center justify-space-between flex-grow-1 gap-4 pa-4 my-2" Elevation="10">
                        <MudPaper Class="d-flex align-center justify-start gap-4" Height="2em" Elevation="0" Style="background-color: transparent">
                            <MudText Typo="Typo.body1">@context.Name</MudText>
                            @switch (context)
                            {
                                case PrintBoxInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz pudełko">
                                        <MudSelect @bind-Value="@(((PrintBoxInstruction)context).Box)" Variant="Variant.Text" Style="max-width: 64px">
                                            @foreach (var box in _boxes)
                                            {
                                                <MudSelectItem Value="box.Name">@box.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    break;
                                case PrintTextInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wpisz tekst do wyświetlenia">
                                        <MudTextField @bind-Value="@(((PrintTextInstruction)context).Text)"
                                                      Clearable="true" Adornment="Adornment.End"
                                                      Variant="Variant.Text" />
                                    </MudTooltip>
                                    break;
                                case NewLineInstruction:
                                    break;
                                case LoadInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz pudełko, do którego wpiszesz liczbę">
                                        <MudSelect @bind-Value="@(((LoadInstruction)context).Box)" Variant="Variant.Text" Style="max-width: 64px">
                                            @foreach (var box in _boxes)
                                            {
                                                <MudSelectItem Value="box.Name">@box.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    break;
                                case SetInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz pudełko, do którego zapiszesz wartość.">
                                        <MudSelect @bind-Value="@(((SetInstruction)context).Box)" Variant="Variant.Text" Style="max-width: 64px">
                                            @foreach (var box in _boxes)
                                            {
                                                <MudSelectItem Value="box.Name">@box.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    <MudText Typo="Typo.body1">na</MudText>
                                    <MudTooltip Placement="Placement.Top" Text="Wpisz nazwę pudełka (A,B,C,D) lub wartość, którą chcesz zapisać">
                                        <MudTextField @bind-Value="@(((SetInstruction)context).Value)" Clearable="true" Adornment="Adornment.End" Variant="Variant.Text" />
                                    </MudTooltip>
                                    break;
                                case IncrementInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz pudełko, któremu chcesz zwiększyć wartość.">
                                        <MudSelect @bind-Value="@(((IncrementInstruction)context).Box)" Variant="Variant.Text" Style="max-width: 64px">
                                            @foreach (var box in _boxes)
                                            {
                                                <MudSelectItem Value="box.Name">@box.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    <MudText Typo="Typo.body1">o</MudText>
                                    <MudTooltip Placement="Placement.Top" Text="Wpisz nazwę pudełka (A,B,C,D) lub wartość, o którą chcesz zwiększyć wybrane pudełko">
                                        <MudTextField @bind-Value="@(((IncrementInstruction)context).Value)" Clearable="true"
                                                      Adornment="Adornment.End" Variant="Variant.Text" />
                                    </MudTooltip>
                                    break;
                                case DecrementInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz pudełko, któremu chcesz zmniejszyć wartość.">
                                        <MudSelect @bind-Value="@(((DecrementInstruction)context).Box)" Variant="Variant.Text" Style="max-width: 64px">
                                            @foreach (var box in _boxes)
                                            {
                                                <MudSelectItem Value="box.Name">@box.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    <MudText Typo="Typo.body1">o</MudText>
                                    <MudTooltip Placement="Placement.Top" Text="Wpisz nazwę pudełka (A,B,C,D) lub wartość, o którą chcesz zmniejszyć wybrane pudełko">
                                        <MudTextField @bind-Value="@(((DecrementInstruction)context).Value)" Clearable="true"
                                                      Adornment="Adornment.End" Variant="Variant.Text" />
                                    </MudTooltip>
                                    break;
                                case IfInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz pudełko.">
                                        <MudSelect @bind-Value="@(((IfInstruction)context).Box)" Variant="Variant.Text" Style="max-width: 64px">
                                            @foreach (var box in _boxes)
                                            {
                                                <MudSelectItem Value="box.Name">@box.Name</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz rodzaj porównania.">
                                        <MudSelect @bind-Value="@(((IfInstruction)context).Operator)" Variant="Variant.Text" Style="max-width: 77px">
                                            @foreach (var op in (string[])["<", "\u2264", "=", "\u2260", "\u2265", ">"])
                                            {
                                                <MudSelectItem Value="op">@op</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    <MudTooltip Placement="Placement.Top" Text="Wpisz nazwę pudełka (A,B,C,D) lub wartość do porównania.">
                                        <MudTextField @bind-Value="@(((IfInstruction)context).Value)" Clearable="true"
                                                      Style="max-width: 80px"
                                                      Adornment="Adornment.End" Variant="Variant.Text" />
                                    </MudTooltip>
                                    <MudText Typo="Typo.body1">skocz do</MudText>
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz instrukcję do której przejdziesz w przypadku kiedy porównanie jest prawdą.">
                                        <MudSelect @bind-Value="@(((IfInstruction)context).JumpIfTrue)" Variant="Variant.Text" Style="width: 110px">
                                            @foreach (var box in GetJumpSteps(true))
                                            {
                                                <MudSelectItem Value="box">@box</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    <MudText Typo="Typo.body1">inaczej skocz do</MudText>
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz instrukcję do której przejdziesz w przypadku kiedy porównanie jest nieprawdą.">
                                        <MudSelect @bind-Value="@(((IfInstruction)context).JumpIfFalse)" Variant="Variant.Text" Style="width: 110px">
                                            @foreach (var box in GetJumpSteps(true))
                                            {
                                                <MudSelectItem Value="box">@box</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    break;
                                case JumpInstruction:
                                    <MudTooltip Placement="Placement.Top" Text="Wybierz instrukcję do której przejdziesz.">
                                        <MudSelect @bind-Value="@(((JumpInstruction)context).Step)" Variant="Variant.Text" Style="width: 150px">
                                            @foreach (var box in GetJumpSteps())
                                            {
                                                <MudSelectItem Value="box">@box</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudTooltip>
                                    break;

                            }
                        </MudPaper>
                        <MudPaper Class="d-flex justify-end flex-grow-1 gap-4" Elevation="0" Style="background-color: transparent">
                            <MudChip T="int" Color="Color.Dark">@(context.Step - InitializeCount)</MudChip>
                            <MudIconButton Icon="@Icons.Material.Filled.Close" aria-label="delete" OnClick="_ => DeleteItem(context)" />
                        </MudPaper>
                    </MudPaper>
                }
            </ItemRenderer>
        </MudDropContainer>
    }
    else
    {
        <MudGrid>
            <MudItem xs="3">
                <MudCard Class="my-4 ml-4 mr-2">
                    <MudCardHeader Style="@($"background:{Colors.LightBlue.Accent3};")">
                        <MudText Typo="Typo.h5" Style="color: white;">Pudełka</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudPaper Class="ma-2 pa-2" Elevation="1" Style="@($"background:{Colors.Gray.Lighten5};")">
                            <MudText Typo="Typo.h6" Color="Color.Info">A: @(_boxes[0].Value)</MudText>
                        </MudPaper>
                        <MudPaper Class="ma-2 pa-2" Elevation="1" Style="@($"background:{Colors.Gray.Lighten5};")">
                            <MudText Typo="Typo.h6" Color="Color.Info">B: @(_boxes[1].Value)</MudText>
                        </MudPaper>
                        <MudPaper Class="ma-2 pa-2" Elevation="1" Style="@($"background:{Colors.Gray.Lighten5};")">
                            <MudText Typo="Typo.h6" Color="Color.Info">C: @(_boxes[2].Value)</MudText>
                        </MudPaper>
                        <MudPaper Class="ma-2 pa-2" Elevation="1" Style="@($"background:{Colors.Gray.Lighten5};")">
                            <MudText Typo="Typo.h6" Color="Color.Info">D: @(_boxes[3].Value)</MudText>
                        </MudPaper>
                    </MudCardContent>

                    <MudCardContent>
                        @if (!_isInputingValue)
                        {
                            <MudButton Class="mt-16"
                                       Disabled="_isFinished"
                                       Color="Color.Warning"
                                       FullWidth Variant="Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.ArrowForward" OnClick="NextStep">
                                Zrób krok
                            </MudButton>
                            @* <MudButton Class="mt-4"
                                       Disabled="_isFinished"
                                       Color="Color.Tertiary"
                                       FullWidth Variant="Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.ArrowForward" OnClick="AutoRun">
                                Zrób wszystkie kroki
                            </MudButton> *@
                        }
                        else
                        {
                            <MudText Typo="Typo.body2">Wprowadź wartość</MudText>
                            <MudNumericField @bind-Value="@_inputValue" Variant="Variant.Outlined"
                                             Disabled="_isFinished"
                                             AutoFocus
                                             FullWidth />

                            <MudButton Class="mt-16"
                                       Disabled="_isFinished"
                                       Color="Color.Success"
                                       FullWidth Variant="Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.Send" OnClick="InputValue">
                                Wyślij
                            </MudButton>
                        }
                    </MudCardContent>
                </MudCard>
            </MudItem>

            <MudItem xs="6">
                <MudCard Class="my-4 mr-2">
                    <MudCardHeader Style="@($"background:{Colors.LightBlue.Accent3};")">
                        <MudText Typo="Typo.h5" Style="color: white;">Edytor</MudText>
                    </MudCardHeader>
                    <MudCardContent>

                        @if (_isFinished && !_isFailed)
                        {
                            <MudAlert Severity="Severity.Success" Variant="Variant.Filled">Program zakończony.</MudAlert>
                        }
                        @if (_isFinished && _isFailed)
                        {
                            <MudAlert Severity="Severity.Error" Variant="Variant.Filled">Program zakończony niepowodzeniem.</MudAlert>
                        }

                        @foreach (var item in _items.Where(i => i.Step > 0))
                        {
                            <MudPaper Style="@($"background:{item.Background};")" Class="d-flex align-center justify-space-between flex-grow-1 gap-4 pa-4 my-2" Elevation="10">
                                <MudPaper Class="d-flex align-center justify-start gap-4" Height="2em" Elevation="0" Style="background-color: transparent">
                                    <MudText Typo="Typo.body1">@item.Name</MudText>
                                    @switch (item)
                                    {
                                        case PrintBoxInstruction:
                                            <MudTextField @bind-Value="@(((PrintBoxInstruction)item).Box)" Variant="Variant.Text" Style="max-width: 16px" Disabled />
                                            break;
                                        case PrintTextInstruction:
                                            <MudTextField @bind-Value="@(((PrintTextInstruction)item).Text)" Variant="Variant.Text" Style="max-width: auto" Disabled />
                                            break;
                                        case NewLineInstruction:
                                            break;
                                        case LoadInstruction:
                                            <MudTextField @bind-Value="@(((LoadInstruction)item).Box)" Variant="Variant.Text" Style="max-width: 16px" Disabled />
                                            break;
                                        case SetInstruction:
                                            <MudTextField @bind-Value="@(((SetInstruction)item).Box)" Variant="Variant.Text" Style="max-width: 16px" Disabled />
                                            <MudText Typo="Typo.body1">na</MudText>
                                            <MudTextField @bind-Value="@(((SetInstruction)item).Value)" Variant="Variant.Text" Disabled />
                                            break;
                                        case IncrementInstruction:
                                            <MudTextField @bind-Value="@(((IncrementInstruction)item).Box)" Variant="Variant.Text" Style="max-width: 16px" Disabled />
                                            <MudText Typo="Typo.body1">o</MudText>
                                            <MudTextField @bind-Value="@(((IncrementInstruction)item).Value)" Variant="Variant.Text" Disabled />
                                            break;
                                        case DecrementInstruction:
                                            <MudTextField @bind-Value="@(((DecrementInstruction)item).Box)" Variant="Variant.Text" Style="max-width: 16px" Disabled />
                                            <MudText Typo="Typo.body1">o</MudText>
                                            <MudTextField @bind-Value="@(((DecrementInstruction)item).Value)" Variant="Variant.Text" Disabled />
                                            break;
                                        case IfInstruction:
                                            <MudTextField @bind-Value="@(((IfInstruction)item).Box)" Variant="Variant.Text" Style="max-width: 16px" Disabled />
                                            <MudTextField @bind-Value="@(((IfInstruction)item).Operator)" Variant="Variant.Text" Style="max-width: 32px" />
                                            <MudTextField @bind-Value="@(((IfInstruction)item).Value)" Style="max-width: 80px" Variant="Variant.Text" Disabled />
                                            <MudText Typo="Typo.body1">skocz do</MudText>
                                            <MudTextField @bind-Value="@(((IfInstruction)item).JumpIfTrue)" Variant="Variant.Text" Style="width: auto" Disabled />
                                            <MudText Typo="Typo.body1">inaczej skocz do</MudText>
                                            <MudTextField @bind-Value="@(((IfInstruction)item).JumpIfFalse)" Variant="Variant.Text" Style="width: auto" Disabled />
                                            break;
                                        case JumpInstruction:
                                            <MudSelect @bind-Value="@(((JumpInstruction)item).Step)" Variant="Variant.Text" Style="width: 150px" Disabled />
                                            break;
                                    }
                                </MudPaper>
                                <MudPaper Class="d-flex justify-end flex-grow-1 gap-4" Elevation="0" Style="background-color: transparent">
                                    <MudChip T="int" Color="Color.Dark">@item.Step</MudChip>
                                </MudPaper>
                            </MudPaper>
                        }

                    </MudCardContent>
                </MudCard>
            </MudItem>

            <MudItem xs="3">
                <MudCard Class="my-4 mr-4 ">
                    <MudCardHeader Style="@($"background:{Colors.LightBlue.Accent3};")">
                        <MudText Typo="Typo.h5" Style="color: white;">Konsola</MudText>
                    </MudCardHeader>
                    <MudCardContent Class="imessage mt-4" Style="width: 95%">
                        @foreach (var item in Konsole)
                        {
                            <p class="@(item.IsInput ? "from-me" : "from-them")"><MudText Typo="Typo.h6">@item.Text</MudText></p>
                        }
                    </MudCardContent>

                    <MudCardContent>
                        <MudStack>
                            <MudButton Class="mt-16"
                                       Color="Color.Warning"
                                       FullWidth Variant="Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.Edit" OnClick="StopProgram">
                                Edytuj
                            </MudButton>
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    }
}